body{
    font-family: 'Dosis', sans-serif;
    margin: 0px;
}
.highlight{
    color: brown;
}
p{
    color: dimgray;
}

h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%;
}
.top-banner{
    background-image: url("top-banner.png" );
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}

section{
    height: 500px ;
    padding-bottom: 150px;
    
}
p{
    margin-bottom: 40px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,red,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,red,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}


.bottom-half img{
    width: 100%;
    float: right;
}
.bottom-half{
    width: 40%;
    margin-left:5%;
    padding-left:2%;
    float: left;
    
}
.events{
    margin-left: 120px;
}
.lastbox{
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height: 60%;
}
.last-banner{
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#australia{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
    background-color: white;
}
#bangladesh{
    border-left: 7px solid;
    border-image: linear-gradient(blue, aqua);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}